# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
tank-battle
runTests

# CMake stuff
CMakeCache.txt
Makefile
cmake_install.cmake
